export(get_LAD_data)
export(get_LAD_population)
export(get_LSOA_data)
export(get_LSOA_population)
export(get_MSOA_data)
export(get_MSOA_population)
export(get_grid_carbon)
export(get_grid_mix)
export(get_lookup_table)
import(RCurl)
import(XLConnect)
import(XML)
import(plyr)
import(reshape2)
import(stringr)
